{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!-- BEGIN: Hero Banner Start -->
<section class="pageBanner" style="background-image: url(../../static/assets/images/bg/about.png);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="bannerTitle">About Us</h2>
                <div class="breadcrumbs"><a href="/">Home</a><span>/</span>About Us</div>
            </div>
        </div>
    </div>
</section>
<!-- END: Hero Banner End -->

<!-- BEGIN: About Section Start -->
<section class="aboutSection01 abPageAbout">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- About Video -->
                <div class="abVideo">
                    <img src="{% static 'assets/images/bg/about.jpg' %}" alt="ImmiPress">
                    <div class="videoBtn"><a href="https://player.vimeo.com/video/364758150" class="popup_video"><i
                                class="flaticon-play-button"></i>
                        </a></div>
                </div>
                <!-- About Video -->
            </div>
            <div class="col-lg-6">
                <!-- About Content -->
                <div class="aboutContent01">
                    <h5 class="subTitle">About Agency</h5>
                    <h2 class="secTitle">Global Go Gateway</h2>
                    <p>
                        Global Go Gateway Consultancy is India's leading visa consultant, specializing in F1 visas for
                        the USA, UK, and Australia, as well as visitor visas for the USA, UK, and Canada. Our dedicated
                        team provides personalized guidance, from interview preparation to DS-160 review, ensuring a
                        seamless visa application process.
                    </p>
                    <div class="row cusrow">
                        <div class="col-sm-6 col-lg-12 col-xl-6">
                            <div class="iconBox02">
                                <div class="ibBox"><i class="flaticon-travel"></i></div>
                                <h3 class="ibTitle">Our Mission</h3>
                                <p>To be the most trusted visa consultancy globally.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-12 col-xl-6">
                            <div class="iconBox02">
                                <div class="ibBox"><i class="flaticon-targeting"></i></div>
                                <h3 class="ibTitle">Our Vision</h3>
                                <p>Guiding clients to visa success with expert, personalized support.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ibImageBox">
                        <img src="{% static 'assets/images/bg/about-b.png' %}" alt="ImmiPress">
                        <h4>25+ Years of experience in visa and immigrations services</h4>
                    </div>
                    <!-- <div class="btnSign">
                        <a class="immiPressBtn" href="about.html"><span>Discover More</span></a>
                    </div> -->
                </div>
                <!-- About Content -->
            </div>
        </div>
    </div>
</section>
<!-- END: About Section End -->
<!-- BEGIN: Funfact Section Start -->
<section class="funfactSection01 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="factWrapper">
                    <div class="row">
                        <!-- Funfact Item -->
                        <div class="col-lg-3 col-sm-6 brRight text-center">
                            <div class="funfact01">
                                <h2 class="count-box"><span class="count-text" data-speed="3000"
                                        data-stop="95">%</span></h2>
                                <h5>success rate for visitor visa applications</h5>
                            </div>
                        </div>
                        <!-- Funfact Item -->
                        <!-- Funfact Item -->
                        <div class="col-lg-3 col-sm-6 brRight text-center">
                            <div class="funfact01">
                                <h2 class="count-box"><span class="count-text" data-speed="3000"
                                        data-stop="500"></span><sup></sup></h2>
                                <h5>Successful visa applications processed</h5>
                            </div>
                        </div>
                        <!-- Funfact Item -->
                        <!-- Funfact Item -->
                        <div class="col-lg-3 col-sm-6 text-center">
                            <div class="funfact01">
                                <h2 class="count-box"><span class="count-text" data-speed="3000"
                                        data-stop="600"></span></h2>
                                <h5>happy clients</h5>
                            </div>
                        </div>
                        <!-- Funfact Item -->
                         <!-- Funfact Item -->
                        <div class="col-lg-3 col-sm-6 brRight text-center">
                            <div class="funfact01">
                                <h2 class="count-box"><span class="count-text" data-speed="3000"
                                        >24/7</span><sup></sup></h2>
                                <h5> support for visa application queries</h5>
                            </div>
                        </div>
                        <!-- Funfact Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: Funfact Section End -->

<!-- BEGIN: Call To Action Start -->
<section class="CTASection02" style="background-image: url(../../static/assets/images/bg/ctaimg.png);">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-sm-7">
                <h2 class="secTitle">We Counsel Students to Get Study Visas</h2>
            </div>
            <div class="col-xl-7 col-sm-5 text-end">
                <a class="immiPressBtn" href="/contactus/"><span>Contact Us</span></a>
            </div>
        </div>
    </div>
</section>
<!-- END: Call To Action End -->

<!-- BEGIN: Call To Action Start -->
<section class="whyChose01">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="subTitle">Why Choose Global Gateway?</h5>
                <h2 class="secTitle">Countless Benefits & Easy Processing</h2>
                <!-- Icon Box -->
                <div class="iconBox04">
                    <div class="ibBox"><i class="flaticon-licensing"></i></div>
                    <h3 class="ibTitle">Comprehensive Support</h3>
                    <p>From initial application to visa issuance, we offer comprehensive support at every step.</p>
                </div>
                <!-- Icon Box -->
                <!-- Icon Box -->
                <div class="iconBox04">
                    <div class="ibBox"><i class="flaticon-task-list"></i></div>
                    <h3 class="ibTitle">Personalized Service</h3>
                    <p>We tailor our services to your specific needs, ensuring a personalized and efficient experience.</p>
                </div>
                <!-- Icon Box -->
                <!-- Icon Box -->
                <div class="iconBox04">
                    <div class="ibBox"><i class="flaticon-passport"></i></div>
                    <h3 class="ibTitle">Success-Oriented Approach</h3>
                    <p>Our goal is to help you achieve your visa goals, and we're dedicated to ensuring your success.</p>
                </div>
                <!-- Icon Box -->
            </div>
            <div class="col-lg-6">
                <div class="mapThumb">
                    <img src="{% static 'assets/images/home3/map.png' %}" alt="ImmiPress">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: Call To Action End -->
<!-- Bact To Top -->
<a href="javascript:void(0);" id="backtotop"><i class="fa-solid fa-arrow-up"></i></a>
<!-- Bact To Top -->

{% endblock %}