<title>Best Consultancy in Vijayawada | Global Gateway Experts  </title>
<meta name="description" content="Dreaming of studying, working, or moving abroad? Global Gateway, the top consultancy in Vijayawada, offers tailored solutions to make your global goals a reality!">
<meta name="keywords" content="consultancy in vijayawada,best consultancy in vijayawada,overseas consultancy in vijayawada,abroad consultancy in vijayawada,consultancy in vijayawada for abroad">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<style>
    .serviceItem02 .serviceWrapper {
        height: 350px !important;
      }
</style>


<!-- BEGIN: Popup Search Section -->
<section class="popupSearchSec">
    <div class="popupSearchOverlay"></div>
    <a href="javascript:void(0);" class="popupClose"></a>
    <div class="popSearchBackground">
        <div class="middleSearch">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="popupSearchForm">
                            <form method="get" action="#" autocomplete="off">
                                <input autocomplete="off" type="search" name="s" id="s"
                                    placeholder="Type Words and Hit Enter">
                                <button type="submit"><i class="flaticon-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: Popup Search Section -->

<section class="heroSection03">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 d-flex align-items-center">
                <div class="sliderContent">
                    <!-- <h5 class="subTitle animated">GlobalGo Private Limited</h5> -->
                    <h1 class="animated mb-5" style="color:#233152;"> <br/>Consultancy in Vijayawada</h1>
                    <div class="btnInfo">
                        <a class="immiPressBtn animated" href="/about/"><span>Read More</span></a>
                        <a class="immiPressBtn animated" href="/contactus/"><span>Contact Us</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="bannerThumb">
                    <div class="heroThumb animated pt-5"><img src="{%static 'assets/images/world_flags_globe_2.gif' %}" width="280"  alt="ImmiPress"></div>
                    <div class="bgBorder animated"><img src="{%static 'assets/images/slider/border.png' %}" alt="ImmiPress"></div>
                    <div class="bnFlag animated"><img src="{%static 'assets/images/slider/flag.png' %}" alt="ImmiPress"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- BEGIN: About Section Start -->
<section class="aboutSection02">
    <div class="container">
        <div class="row algh">
            <div class="col-lg-6">
                <!-- About Video -->
                <div class="abThumbWrapper">
                    <div class="abThumb">
                        <img src="{%static 'assets/images/bg/whychoose.png' %}" alt="ImmiPress">
                        <div class="mdLogo"><img src="{%static 'assets/images/home3/1.png' %}" alt="ImmiPress"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="abThumb"><img src="{%static 'assets/images/bg/whychoosev.png' %}"
                                    alt="ImmiPress"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="abThumb"><img src="{%static 'assets/images/bg/whychoosever.png' %}"
                                    alt="ImmiPress"></div>
                        </div>
                    </div>
                </div>
                <!-- About Video -->
            </div>
            <div class="col-lg-6 my-auto">
                <!-- About Content -->
                <div class="aboutContent02">
                    <h5 class="subTitle">About</h5>
                    <h2 class="secTitle">Your Ultimate <br/>Guide to Global Success</h2>
                    <!-- <p>
                        Global Go Gateway Consultancy is a leading visa consultant in India, specializing in F1 visas to the USA, UK, and Australia, as well as visiting visas to the USA, UK, and Canada.
                    </p> -->
                    <p>Are you planning to study, work or move abroad? Global Gateway located in Vijayawada is here to ease your processes as we stand acknowledged for the best consultancy services in Vijayawada area. Global Gateway is known for its incredible work and tailored services and claims to be the best consulting agency in Viajayawada. Taking a step further in specializing in areas of turning dreams into worthwhile goals We take a step further in making sure that you achieve that.

                        </p>
                        <p>Global Gateway is more than just an overseas consultancy in Vijayawada—it’s your expert partner in navigating complex business environments with precision. Recognized as one of the best consultancies in Vijayawada, we understand the unique needs of the local business landscape. By creating global opportunities and offering tailored, in-depth solutions, we empower individuals and businesses to establish a strong position in the global market. Whether you’re seeking to explore international possibilities or require comprehensive support, Global Gateway is here to guide you every step of the way.</p>
                    

                    <a class="immiPressBtn" href="/about/"><span>Read more</span></a>
                </div>
                <!-- About Content -->
            </div>
        </div>
    </div>
</section>
<!-- END: About Section End -->






<!-- BEGIN: FAQ Section Start -->
<section class="faqSection02">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="subTitle">How can we help you</h5>
                <h2 class="secTitle">Ask Question To Tell US<br> By Exploernex</h2>
                <ul class="nav faqTabTabsNav" id="faqTab" role="tablist">
                   
                   
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="tab-content">
                    <div class="tab-pane fade animated slideInUp2 show active" id="faq01-tab-pane" role="tabpanel"
                        aria-labelledby="faq01-tab" tabindex="0">
                        <div id="accordion-holder01" class="tmjAccordion accordion">
                            <div class="card active">
                                <div class="faqInner">
                                    <div class="card-header" id="heading834">
                                        <h5 class="title" data-bs-toggle="collapse" data-bs-target="#collapse834"
                                            aria-expanded="true" aria-controls="collapse834">
                                            What types of visas do you assist with?  
                                            <svg fill="#233152" width="22" height="12" viewBox="0 0 22 12"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.0001 11.6246C10.7603 11.6246 10.5203 11.5329 10.3372 11.3499L0.962246 1.97488C0.595918 1.60855 0.595918 1.01535 0.962246 0.649258C1.32857 0.283164 1.92178 0.28293 2.28787 0.649258L11.0001 9.36145L19.7122 0.649258C20.0786 0.28293 20.6718 0.28293 21.0379 0.649258C21.404 1.01559 21.4042 1.60879 21.0379 1.97488L11.6629 11.3499C11.4798 11.5329 11.2398 11.6246 11.0001 11.6246Z" />
                                            </svg>
                                        </h5>
                                    </div>
                                    <div id="collapse834" class="collapse show" aria-labelledby="heading834"
                                        data-bs-parent="#accordion-holder01">
                                        <div class="card-body">
                                            We specialize in F1 Visas (for students), B1/B2 Visas (for visitors), UK Visitor’s Visas, and more customized visas for professionals.  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="faqInner">
                                    <div class="card-header" id="heading835">
                                        <h5 class="title collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#collapse835" aria-expanded="false"
                                            aria-controls="collapse835">
                                            Why should I choose Global Gateway?  
                                            <svg fill="#233152" width="22" height="12" viewBox="0 0 22 12"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.0001 11.6246C10.7603 11.6246 10.5203 11.5329 10.3372 11.3499L0.962246 1.97488C0.595918 1.60855 0.595918 1.01535 0.962246 0.649258C1.32857 0.283164 1.92178 0.28293 2.28787 0.649258L11.0001 9.36145L19.7122 0.649258C20.0786 0.28293 20.6718 0.28293 21.0379 0.649258C21.404 1.01559 21.4042 1.60879 21.0379 1.97488L11.6629 11.3499C11.4798 11.5329 11.2398 11.6246 11.0001 11.6246Z" />
                                            </svg>
                                        </h5>
                                    </div>
                                    <div id="collapse835" class="collapse" aria-labelledby="heading835"
                                        data-bs-parent="#accordion-holder01">
                                        <div class="card-body">
                                            We’re known for delivering tailored services, expert guidance, and client satisfaction. Our hands-on approach ensures applications are error-free and hassle-free.  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="faqInner">
                                    <div class="card-header" id="heading836">
                                        <h5 class="title collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#collapse836" aria-expanded="false"
                                            aria-controls="collapse836">
                                            How long does it take to process a visa?  
                                            <svg fill="#233152" width="22" height="12" viewBox="0 0 22 12"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.0001 11.6246C10.7603 11.6246 10.5203 11.5329 10.3372 11.3499L0.962246 1.97488C0.595918 1.60855 0.595918 1.01535 0.962246 0.649258C1.32857 0.283164 1.92178 0.28293 2.28787 0.649258L11.0001 9.36145L19.7122 0.649258C20.0786 0.28293 20.6718 0.28293 21.0379 0.649258C21.404 1.01559 21.4042 1.60879 21.0379 1.97488L11.6629 11.3499C11.4798 11.5329 11.2398 11.6246 11.0001 11.6246Z" />
                                            </svg>
                                        </h5>
                                    </div>
                                    <div id="collapse836" class="collapse" aria-labelledby="heading836"
                                        data-bs-parent="#accordion-holder01">
                                        <div class="card-body">
                                            Processing times depend on the type of visa and your destination. But rest assured, we do everything to expedite the process!  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="faqInner">
                                    <div class="card-header" id="heading837">
                                        <h5 class="title collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#collapse837" aria-expanded="false"
                                            aria-controls="collapse837">
                                            Are your services available only in Vijayawada?  
                                            <svg fill="#233152" width="22" height="12" viewBox="0 0 22 12"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.0001 11.6246C10.7603 11.6246 10.5203 11.5329 10.3372 11.3499L0.962246 1.97488C0.595918 1.60855 0.595918 1.01535 0.962246 0.649258C1.32857 0.283164 1.92178 0.28293 2.28787 0.649258L11.0001 9.36145L19.7122 0.649258C20.0786 0.28293 20.6718 0.28293 21.0379 0.649258C21.404 1.01559 21.4042 1.60879 21.0379 1.97488L11.6629 11.3499C11.4798 11.5329 11.2398 11.6246 11.0001 11.6246Z" />
                                            </svg>
                                        </h5>
                                    </div>
                                    <div id="collapse837" class="collapse" aria-labelledby="heading837"
                                        data-bs-parent="#accordion-holder01">
                                        <div class="card-body">
                                            We’re based in Vijayawada but offer consultations to clients across India. Wherever you are, we are just a call away!  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                  
                   
                  
                    
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: FAQ Section End -->

<!-- BEGIN: Call To Action Start -->
<section class="CTASection02" >
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-sm-7">
                <h2 class="secTitle" style="font-size:28px;line-height:38px;">Start your visa process with the best consultancy in Vijayawada. </h2>
            </div>
            <div class="col-xl-7 col-sm-5 text-end">
                <a class="immiPressBtn" href="/contactus/"><span>Contact Us</span></a>
            </div>
        </div>
    </div>
</section>
<!-- END: Call To Action End -->



<!-- BEGIN: Contact Form Success Modal Message -->
<div class="modal" id="message_sent" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <h5 class="modal-title">Message Sent Successfully</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Thank you for contacting us. We will get back to you shortly.<br>Have a great day!</p>
            </div>
            <div class="modal-footer alert-success">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END: Contact Form Success Modal Message -->


<!-- BEGIN: Contact Form Fail Modal Message -->
<div class="modal" id="message_fail" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Oops! Something went wrong, please try again.</p>
            </div>
            <div class="modal-footer alert-danger">
                <button type="button" class="btn btn-danger " data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END: Contact Form Fail Modal Message End -->


<!-- BEGIN: Testimonial Section Start -->
<section class="testimonialSection02" style="background-image: url(../../static/assets/images/bg/5.jpg);">
    <!-- Animation Image -->
    <div class="animThumb">
        <img src="{% static 'assets/images/home3/s1.png' %}" alt="ImmiPress">
    </div>
    <!-- Animation Image -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="subTitle">Our Testimonials</h5>
                <h2 class="secTitle">What Customers Saying<br></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonialSlider02 owl-carousel">
                    <!-- Testimonial Item -->
                    <div class="testimonilaItem02">
                        <div class="tsAuthor ">
                            <img src="{% static 'assets/images/user-icon.png' %}" alt="ImmiPress">
                            <h5 class="tsNM">Priya S.  </h5>
                            <span class="tsDesign">Andhra Pradesh</span>
                        </div>
                        <div class="quoteIcon"><img src="{% static 'assets/images/home3/quote.png' %}" alt="ImmiPress">
                        </div>
                        <div class="qutation">
                            Global Gateway made my US student visa process so smooth! From DS-160 review to the final visa approval, they handled it all flawlessly.
                        </div>
                    </div>
                    <!-- Testimonial Item -->

                    <!-- Testimonial Item -->
                    <div class="testimonilaItem02">
                        <div class="tsAuthor">
                            <img src="{% static 'assets/images/user-icon.png' %}" alt="ImmiPress">
                            <h5 class="tsNM">Ravi K. </h5>
                            <span class="tsDesign">Andhra Pradesh</span>
                        </div>
                        <div class="quoteIcon"><img src="{% static 'assets/images/home3/quote.png'%}" alt="ImmiPress">
                        </div>
                        <div class="qutation">
                            I wanted a visitor visa for the UK but wasn’t sure about the application process. Global Gateway knew exactly what I needed and guided me step by step. Highly recommend
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <div class="testimonilaItem02">
                        <div class="tsAuthor">
                            <img src="{% static 'assets/images/user-icon.png' %}" alt="ImmiPress">
                            <h5 class="tsNM">Anusha B.  </h5>
                            <span class="tsDesign">Telangana</span>
                        </div>
                        <div class="quoteIcon"><img src="{% static 'assets/images/home3/quote.png' %}" alt="ImmiPress">
                        </div>
                        <div class="qutation">
                            "The team is amazing! They’re the reason I’m now in Canada pursuing my master’s. Truly the best visa consultants in Vijayawada!
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <div class="testimonilaItem02">
                        <div class="tsAuthor">
                            <img src="{% static 'assets/images/user-icon.png' %}" alt="ImmiPress">
                            <h5 class="tsNM">Sitharam</h5>
                            <span class="tsDesign">Andhara Pradesh</span>
                        </div>
                        <div class="quoteIcon"><img src="{% static 'assets/images/home3/quote.png' %}" alt="ImmiPress">
                        </div>
                        <div class="qutation">
                            I am impressed with the Global Gateway website. It’s straightforward to navigate, and the information is clear and concise. I encountered a slight delay in response time when submitting a form, but that was a minor inconvenience. Overall, it's a highly reliable site, and I would recommend it to others.
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Animation Image -->
    <div class="animThumb atRight">
        <img src="{% static 'assets/images/home3/s2.png' %}" alt="ImmiPress">
    </div>
    <!-- Animation Image -->
</section>
<!-- END: Testimonial Section End -->

<section class="workSection01">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="subTitle">Our Simple Process</h5>
                <h2 class="secTitle">Your Visa Sorted in Just 3 Super<br> Simple Steps</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <!-- Icon Box -->
                <div class="iconBox03 text-center">
                    <div class="ibBox"><i class="flaticon-online-registration"></i></div>
                    <span>Step: 01</span>
                    <h3 class="ibTitle">Reach Out to Us  </h3>
                    <p>Start with a personalized consultation tailored to your goals. We’ll help you choose the visa that best suits your aspirations.  </p>
                </div>
                <!-- Icon Box -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Icon Box -->
                <div class="iconBox03 text-center">
                    <div class="ibBox"><i class="flaticon-security"></i></div>
                    <span>Step: 02</span>
                    <h3 class="ibTitle">Expert Guidance Every Step of the Way  </h3>
                    <p>Our team simplifies the complexities of visa applications, ensuring you submit error-free forms and document reviews. </p>
                </div>
                <!-- Icon Box -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Icon Box -->
                <div class="iconBox03 text-center">
                    <div class="ibBox"><i class="flaticon-like"></i></div>
                    <span>Step: 03</span>
                    <h3 class="ibTitle">Achieve Your Goal  </h3>
                    <p>Whether it’s stepping onto your dream campus, exploring new countries, or starting a career abroad, watch your vision turn into reality with our support.  </p>
                </div>
                <!-- Icon Box -->
            </div>
        </div>
    </div>
</section>
<!-- END: Process Section End -->


{% endblock %}