<title>Trusted Abroad Consultancy in Vijayawada | Study & Work Abroad</title>
<meta name="description" content="Find expert guidance for study or work abroad with the best consultancy in Vijayawada. Start your journey to global opportunities today!">
<meta name="keywords" content="consultancy in vijayawada,abroad consultancy in vijayawada,consultancy in vijayawada for abroad">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<style>
    .serviceItem02 .serviceWrapper {
        height: 350px !important;
      }
</style>


<!-- BEGIN: Popup Search Section -->
<section class="popupSearchSec">
    <div class="popupSearchOverlay"></div>
    <a href="javascript:void(0);" class="popupClose"></a>
    <div class="popSearchBackground">
        <div class="middleSearch">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="popupSearchForm">
                            <form method="get" action="#" autocomplete="off">
                                <input autocomplete="off" type="search" name="s" id="s"
                                    placeholder="Type Words and Hit Enter">
                                <button type="submit"><i class="flaticon-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: Popup Search Section -->

<section class="heroSection03">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 d-flex align-items-center">
                <div class="sliderContent">
                    <!-- <h5 class="subTitle animated">GlobalGo Private Limited</h5> -->
                    <h1 class="animated mb-5" style="color:#233152;"> <br/>Consultancy in Vijayawada</h1>
                    <div class="btnInfo">
                        <a class="immiPressBtn animated" href="/about/"><span>Read More</span></a>
                        <a class="immiPressBtn animated" href="/contactus/"><span>Contact Us</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="bannerThumb">
                    <div class="heroThumb animated pt-5"><img src="{%static 'assets/images/world_flags_globe_2.gif' %}" width="280"  alt="ImmiPress"></div>
                    <div class="bgBorder animated"><img src="{%static 'assets/images/slider/border.png' %}" alt="ImmiPress"></div>
                    <div class="bnFlag animated"><img src="{%static 'assets/images/slider/flag.png' %}" alt="ImmiPress"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- BEGIN: About Section Start -->
<section class="aboutSection02">
    <div class="container">
        <div class="row algh">
            <div class="col-lg-6">
                <!-- About Video -->
                <div class="abThumbWrapper">
                    <div class="abThumb">
                        <img src="{%static 'assets/images/bg/whychoose.png' %}" alt="ImmiPress">
                        <div class="mdLogo"><img src="{%static 'assets/images/home3/1.png' %}" alt="ImmiPress"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="abThumb"><img src="{%static 'assets/images/bg/whychoosev.png' %}"
                                    alt="ImmiPress"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="abThumb"><img src="{%static 'assets/images/bg/whychoosever.png' %}"
                                    alt="ImmiPress"></div>
                        </div>
                    </div>
                </div>
                <!-- About Video -->
            </div>
            <div class="col-lg-6 my-auto">
                <!-- About Content -->
                <div class="aboutContent02">
                    <h5 class="subTitle">About</h5>
                    <h2 class="secTitle">Your Ultimate <br/>Guide to Global Success</h2>
                    <!-- <p>
                        Global Go Gateway Consultancy is a leading visa consultant in India, specializing in F1 visas to the USA, UK, and Australia, as well as visiting visas to the USA, UK, and Canada.
                    </p> -->
                    <p>Looking to study, work, or travel abroad? Navigating the complexities of applications, visas, and planning can be overwhelming. That’s where a trusted consultancy like Global Gateway in Vijayawada steps in. With its unmatched expertise and personalized services, Global Gateway bridges the gap between your aspirations and reality.

                        </p>
                        <p>A consultancy in Vijayawada isn’t just about guidance; it’s about understanding the local landscape and blending it with global opportunities. Global Gateway excels at providing tailored services to meet individual needs, ensuring that even the most daunting processes become manageable</p>
                    

                    <a class="immiPressBtn" href="/about/"><span>Read more</span></a>
                </div>
                <!-- About Content -->
            </div>
        </div>
    </div>
</section>
<!-- END: About Section End -->

<section class="serviceSection02" style="background-color: #fefafa;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="subTitle">Visa Categories</h5>
                <h2 class="secTitle">Outstanding <span class="typewrite" data-period="2000" data-type="[ &quot;Immigration&quot;, &quot;Study&quot;, &quot;Family&quot;, &quot;Tourist&quot; ]"><span class="wrap"></span></span><br> Visa Services.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="serviceSlider owl-carousel owl-loaded owl-drag ">
        
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(-2310px, 0px, 0px); transition: all 0.25s ease 0s; width: 4620px;">
                            <div class="owl-item cloned" style="width: 306px; margin-right: 24px;">
                                <div class="serviceItem02 text-center">
                                    <div class="serviceWrapper">
                                        <div class="serIcon"><i class="flaticon-travel-1"></i></div>
                                        <h3><a href="#">F1 Visa Counseling</a></h3>
                                        <p>Expert guidance for F1 visa applicants, navigating complex requirements for a smooth
                                            application process.</p>
                                        <!-- <a class="immiPressBtn service-btn" href="#"><span>Read More</span></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 306px; margin-right: 24px;">
                                <div class="serviceItem02 text-center">
                                    <div class="serviceWrapper">
                                        <div class="serIcon"><i class="flaticon-family"></i></div>
                                        <h3><a href="#">F1 Visa Processing</a></h3>
                                        <p>Expert assistance with F1 visa applications, from paperwork to approval, ensuring
                                            timely and successful processing.</p>
                                        <!-- <a class="immiPressBtn" href="#"><span>Read More</span></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 306px; margin-right: 24px;">
                                <div class="serviceItem02 text-center">
                                    <div class="serviceWrapper">
                                        <div class="serIcon"><i class="flaticon-graduating-student"></i></div>
                                        <h3><a href="#">Interview Preparation</a></h3>
                                        <p>Personalized coaching to ace visa interviews, building confidence and clarity in
                                            responses.</p>
                                        <!-- <a class="immiPressBtn" href="#"><span>Read More</span></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 306px; margin-right: 24px;">
                                <div class="serviceItem02 text-center">
                                    <div class="serviceWrapper">
                                        <div class="serIcon"><i class="flaticon-open-book-1"></i></div>
                                        <h3><a href="#">Mock Interview Sessions</a></h3>
                                        <p>Simulated interviews to practice and perfect responses, improving chances of
                                            approval.</p>
                                        <!-- <a class="immiPressBtn" href="#"><span>Read More</span></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 306px; margin-right: 24px;">
                                <div class="serviceItem02 text-center">
                                    <div class="serviceWrapper">
                                        <div class="serIcon"><i class="flaticon-analytics"></i></div>
                                        <h3><a href="#">DS-160 Review</a></h3>
                                        <p>Expert review of DS-160 applications, ensuring accuracy and completeness.</p>
                                        <!-- <a class="immiPressBtn" href="#"><span>Read More</span></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 306px; margin-right: 24px;">
                                <div class="serviceItem02 text-center">
                                    <div class="serviceWrapper">
                                        <div class="serIcon"><i class="flaticon-working"></i></div>
                                        <h3><a href="#">B1/B2 Visa Application Assistance</a></h3>
                                        <p>Guided support for B1/B2 visa applications, navigating complex requirements.</p>
                                        <!-- <a class="immiPressBtn" href="#"><span>Read More</span></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 306px; margin-right: 24px;">
                                <div class="serviceItem02 text-center">
                                    <div class="serviceWrapper">
                                        <div class="serIcon"><i class="flaticon-travel-1"></i></div>
                                        <h3><a href="#">DS-160 Submission Guidance</a></h3>
                                        <p>Step-by-step guidance for submitting DS-160 applications, avoiding errors.</p>
                                        <!-- <a class="immiPressBtn" href="#"><span>Read More</span></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 306px; margin-right: 24px;">
                                <div class="serviceItem02 text-center">
                                    <div class="serviceWrapper">
                                        <div class="serIcon"><i class="flaticon-family"></i></div>
                                        <h3><a href="#">USA Visitor Visa Service</a></h3>
                                        <p>Expert assistance for US visitor visas, guiding applications from start to finish for
                                            successful approval outcomes.</p>
                                        <!-- <a class="immiPressBtn" href="#"><span>Read More</span></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 306px; margin-right: 24px;">
                                <div class="serviceItem02 text-center">
                                    <div class="serviceWrapper">
                                        <div class="serIcon"><i class="flaticon-graduating-student"></i></div>
                                        <h3><a href="#">UK Visitor Visa Service</a></h3>
                                        <p>Comprehensive support for UK visitor visas, ensuring smooth applications.</p>
                                        <!-- <a class="immiPressBtn" href="#"><span>Read More</span></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 306px; margin-right: 24px;">
                                <div class="serviceItem02 text-center">
                                    <div class="serviceWrapper">
                                        <div class="serIcon"><i class="flaticon-open-book-1"></i></div>
                                        <h3><a href="#">Canada Visitor Visa Services</a></h3>
                                        <p>Specialized guidance for Canada visitor visas, maximizing approval chances.</p>
                                        <!-- <a class="immiPressBtn" href="#"><span>Read More</span></a> -->
                                    </div>
                                </div>
                            </div>
        
        
                        </div>
                    </div>
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i
                                class="flaticon-right-arrow-angle"></i></button><button type="button" role="presentation"
                            class="owl-next"><i class="flaticon-right-arrow-angle"></i></button></div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- BEGIN: Country Section Start -->
<section class="countrySection00 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- <h5 class="subTitle">Citizenship Options</h5> -->
                <h2 class="secTitle white"> Citizenship<br> Choose your <span>country!</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <!-- Country Item -->
                <div class="countryItem01 text-center">
                    <div class="countryThumb">
                        <img src="{% static 'assets/images/bg/countryone.jpg' %}" alt="ImmiPress">
                        <div class="cnFlag"><img src="{% static 'assets/images/country/f1.png' %}" alt="ImmiPress">
                        </div>
                    </div>
                    <div class="countryContent">
                        <h3><a href="/">Australia</a></h3>
                        <p>Explore vast landscapes and unique wildlife experiences.</p>
                    </div>
                </div>
                <!-- Country Item -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- Country Item -->
                <div class="countryItem01 text-center">
                    <div class="countryThumb">
                        <img src="{% static 'assets/images/bg/countrutwo.jpg' %}" alt="ImmiPress">
                        <div class="cnFlag"><img src="{% static 'assets/images/country/f2.png' %}" alt="ImmiPress">
                        </div>
                    </div>
                    <div class="countryContent">
                        <h3><a href="/">Germany </a></h3>
                        <p>Discover history, art, and innovative technology.</p>
                    </div>
                </div>
                <!-- Country Item -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- Country Item -->
                <div class="countryItem01 text-center">
                    <div class="countryThumb">
                        <img src="{% static 'assets/images/bg/countrythree.jpg' %}" alt="ImmiPress">
                        <div class="cnFlag"><img src="{% static 'assets/images/country/f3.png' %}" alt="ImmiPress">
                        </div>
                    </div>
                    <div class="countryContent">
                        <h3><a href="/">England</a></h3>
                        <p>Visit iconic landmarks and enjoy rich cultural traditions.</p>
                    </div>
                </div>
                <!-- Country Item -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- Country Item -->
                <div class="countryItem01 text-center">
                    <div class="countryThumb">
                        <img src="{% static 'assets/images/bg/countryfour.jpg' %}" alt="ImmiPress">
                        <div class="cnFlag"><img src="{% static 'assets/images/country/f4.png' %}" alt="ImmiPress">
                        </div>
                    </div>
                    <div class="countryContent">
                        <h3><a href="/">Canada</a></h3>
                        <p>Experience breathtaking nature and multicultural</p>
                    </div>
                </div>
                <!-- Country Item -->
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12 text-center">
                <a class="immiPressBtn" href="country.html"><span>All Countries</span></a>
            </div>
        </div> -->
    </div>
</section>
<!-- END: Country Section End -->

<!-- BEGIN: FAQ Section Start -->
<section class="faqSection02">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="subTitle">How can we help you</h5>
                <h2 class="secTitle">Ask Question To Tell US<br> By Exploernex</h2>
                <ul class="nav faqTabTabsNav" id="faqTab" role="tablist">
                   
                   
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="tab-content">
                    <div class="tab-pane fade animated slideInUp2 show active" id="faq01-tab-pane" role="tabpanel"
                        aria-labelledby="faq01-tab" tabindex="0">
                        <div id="accordion-holder01" class="tmjAccordion accordion">
                            <div class="card active">
                                <div class="faqInner">
                                    <div class="card-header" id="heading834">
                                        <h5 class="title" data-bs-toggle="collapse" data-bs-target="#collapse834"
                                            aria-expanded="true" aria-controls="collapse834">
                                            What services does Global Gateway offer?
                                            <svg fill="#233152" width="22" height="12" viewBox="0 0 22 12"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.0001 11.6246C10.7603 11.6246 10.5203 11.5329 10.3372 11.3499L0.962246 1.97488C0.595918 1.60855 0.595918 1.01535 0.962246 0.649258C1.32857 0.283164 1.92178 0.28293 2.28787 0.649258L11.0001 9.36145L19.7122 0.649258C20.0786 0.28293 20.6718 0.28293 21.0379 0.649258C21.404 1.01559 21.4042 1.60879 21.0379 1.97488L11.6629 11.3499C11.4798 11.5329 11.2398 11.6246 11.0001 11.6246Z" />
                                            </svg>
                                        </h5>
                                    </div>
                                    <div id="collapse834" class="collapse show" aria-labelledby="heading834"
                                        data-bs-parent="#accordion-holder01">
                                        <div class="card-body">
                                            Global Gateway provides visa consultation, educational guidance, travel planning, and assistance with job placements abroad.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="faqInner">
                                    <div class="card-header" id="heading835">
                                        <h5 class="title collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#collapse835" aria-expanded="false"
                                            aria-controls="collapse835">
                                            Can you help me with the entire visa application process?
                                            <svg fill="#233152" width="22" height="12" viewBox="0 0 22 12"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.0001 11.6246C10.7603 11.6246 10.5203 11.5329 10.3372 11.3499L0.962246 1.97488C0.595918 1.60855 0.595918 1.01535 0.962246 0.649258C1.32857 0.283164 1.92178 0.28293 2.28787 0.649258L11.0001 9.36145L19.7122 0.649258C20.0786 0.28293 20.6718 0.28293 21.0379 0.649258C21.404 1.01559 21.4042 1.60879 21.0379 1.97488L11.6629 11.3499C11.4798 11.5329 11.2398 11.6246 11.0001 11.6246Z" />
                                            </svg>
                                        </h5>
                                    </div>
                                    <div id="collapse835" class="collapse" aria-labelledby="heading835"
                                        data-bs-parent="#accordion-holder01">
                                        <div class="card-body">
                                            Yes, we offer comprehensive services that include everything from initial consultation to interview preparation.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="faqInner">
                                    <div class="card-header" id="heading836">
                                        <h5 class="title collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#collapse836" aria-expanded="false"
                                            aria-controls="collapse836">
                                            How can I contact Global Gateway?
                                            <svg fill="#233152" width="22" height="12" viewBox="0 0 22 12"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.0001 11.6246C10.7603 11.6246 10.5203 11.5329 10.3372 11.3499L0.962246 1.97488C0.595918 1.60855 0.595918 1.01535 0.962246 0.649258C1.32857 0.283164 1.92178 0.28293 2.28787 0.649258L11.0001 9.36145L19.7122 0.649258C20.0786 0.28293 20.6718 0.28293 21.0379 0.649258C21.404 1.01559 21.4042 1.60879 21.0379 1.97488L11.6629 11.3499C11.4798 11.5329 11.2398 11.6246 11.0001 11.6246Z" />
                                            </svg>
                                        </h5>
                                    </div>
                                    <div id="collapse836" class="collapse" aria-labelledby="heading836"
                                        data-bs-parent="#accordion-holder01">
                                        <div class="card-body">
                                            You can reach out to Global Gateway via their website or visit their office in Vijayawada for personalized assistance.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="faqInner">
                                    <div class="card-header" id="heading837">
                                        <h5 class="title collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#collapse837" aria-expanded="false"
                                            aria-controls="collapse837">
                                            What makes Vijayawada ideal for consultancies?
                                            <svg fill="#233152" width="22" height="12" viewBox="0 0 22 12"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.0001 11.6246C10.7603 11.6246 10.5203 11.5329 10.3372 11.3499L0.962246 1.97488C0.595918 1.60855 0.595918 1.01535 0.962246 0.649258C1.32857 0.283164 1.92178 0.28293 2.28787 0.649258L11.0001 9.36145L19.7122 0.649258C20.0786 0.28293 20.6718 0.28293 21.0379 0.649258C21.404 1.01559 21.4042 1.60879 21.0379 1.97488L11.6629 11.3499C11.4798 11.5329 11.2398 11.6246 11.0001 11.6246Z" />
                                            </svg>
                                        </h5>
                                    </div>
                                    <div id="collapse837" class="collapse" aria-labelledby="heading837"
                                        data-bs-parent="#accordion-holder01">
                                        <div class="card-body">
                                            Vijayawada is emerging as a hub due to its growing demand for global opportunities and a well-connected local network.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                  
                   
                  
                    
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: FAQ Section End -->

<!-- BEGIN: Call To Action Start -->
<section class="CTASection02" >
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-sm-7">
                <h2 class="secTitle" style="font-size:28px;line-height:38px;">Start Your Global Education Journey with Global Gateway</h2>
            </div>
            <div class="col-xl-7 col-sm-5 text-end">
                <a class="immiPressBtn" href="/contactus/"><span>Contact Us</span></a>
            </div>
        </div>
    </div>
</section>
<!-- END: Call To Action End -->



<!-- BEGIN: Contact Form Success Modal Message -->
<div class="modal" id="message_sent" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <h5 class="modal-title">Message Sent Successfully</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Thank you for contacting us. We will get back to you shortly.<br>Have a great day!</p>
            </div>
            <div class="modal-footer alert-success">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END: Contact Form Success Modal Message -->


<!-- BEGIN: Contact Form Fail Modal Message -->
<div class="modal" id="message_fail" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Oops! Something went wrong, please try again.</p>
            </div>
            <div class="modal-footer alert-danger">
                <button type="button" class="btn btn-danger " data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END: Contact Form Fail Modal Message End -->


<!-- BEGIN: Testimonial Section Start -->
<section class="testimonialSection02" style="background-image: url(../../static/assets/images/bg/5.jpg);">
    <!-- Animation Image -->
    <div class="animThumb">
        <img src="{% static 'assets/images/home3/s1.png' %}" alt="ImmiPress">
    </div>
    <!-- Animation Image -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="subTitle">Our Testimonials</h5>
                <h2 class="secTitle">What Customers Saying<br></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonialSlider02 owl-carousel">
                    <!-- Testimonial Item -->
                    <div class="testimonilaItem02">
                        <div class="tsAuthor ">
                            <img src="{% static 'assets/images/user-icon.png' %}" alt="ImmiPress">
                            <h5 class="tsNM">Badugu dinesh</h5>
                            <span class="tsDesign">Andhra Pradesh</span>
                        </div>
                        <div class="quoteIcon"><img src="{% static 'assets/images/home3/quote.png' %}" alt="ImmiPress">
                        </div>
                        <div class="qutation">
                            The Global Gateway website is fantastic! It's user-friendly, and I was able to find everything I needed quickly. The design is clean, and navigation is seamless. I particularly appreciated the detailed information provided on each page. I highly recommend this website to anyone looking for reliable global services
                        </div>
                    </div>
                    <!-- Testimonial Item -->

                    <!-- Testimonial Item -->
                    <div class="testimonilaItem02">
                        <div class="tsAuthor">
                            <img src="{% static 'assets/images/user-icon.png' %}" alt="ImmiPress">
                            <h5 class="tsNM">Manideep</h5>
                            <span class="tsDesign">Andhra Pradesh</span>
                        </div>
                        <div class="quoteIcon"><img src="{% static 'assets/images/home3/quote.png'%}" alt="ImmiPress">
                        </div>
                        <div class="qutation">
                            I had a great experience using the Global Gateway website. The layout is intuitive, and all the features are easily accessible. The only minor issue I faced was with the loading time on some pages, but overall, it's a very well-constructed site. The content is informative and relevant to what I was looking for
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <div class="testimonilaItem02">
                        <div class="tsAuthor">
                            <img src="{% static 'assets/images/user-icon.png' %}" alt="ImmiPress">
                            <h5 class="tsNM">Ramarao</h5>
                            <span class="tsDesign">Telangana</span>
                        </div>
                        <div class="quoteIcon"><img src="{% static 'assets/images/home3/quote.png' %}" alt="ImmiPress">
                        </div>
                        <div class="qutation">
                            "Excellent website! Global Gateway exceeded my expectations. The site is well-organized and provides a wealth of information. I found the resources section particularly helpful. Customer service is also top-notch, and the website makes it easy to get in touch with them. I will definitely be using this site again
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <div class="testimonilaItem02">
                        <div class="tsAuthor">
                            <img src="{% static 'assets/images/user-icon.png' %}" alt="ImmiPress">
                            <h5 class="tsNM">Sitharam</h5>
                            <span class="tsDesign">Andhara Pradesh</span>
                        </div>
                        <div class="quoteIcon"><img src="{% static 'assets/images/home3/quote.png' %}" alt="ImmiPress">
                        </div>
                        <div class="qutation">
                            I am impressed with the Global Gateway website. It’s straightforward to navigate, and the information is clear and concise. I encountered a slight delay in response time when submitting a form, but that was a minor inconvenience. Overall, it's a highly reliable site, and I would recommend it to others.
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Animation Image -->
    <div class="animThumb atRight">
        <img src="{% static 'assets/images/home3/s2.png' %}" alt="ImmiPress">
    </div>
    <!-- Animation Image -->
</section>
<!-- END: Testimonial Section End -->

<section class="workSection01">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="subTitle">Our Simple Process</h5>
                <h2 class="secTitle">Your Visa Sorted in Just 3 Super<br> Simple Steps</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <!-- Icon Box -->
                <div class="iconBox03 text-center">
                    <div class="ibBox"><i class="flaticon-online-registration"></i></div>
                    <span>Step: 01</span>
                    <h3 class="ibTitle">Complete Online Form</h3>
                    <p>Collaborate with team & partners. Get your work over the</p>
                </div>
                <!-- Icon Box -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Icon Box -->
                <div class="iconBox03 text-center">
                    <div class="ibBox"><i class="flaticon-security"></i></div>
                    <span>Step: 02</span>
                    <h3 class="ibTitle">Documents & Payments</h3>
                    <p>Collaborate with team & partners. Get your work over the</p>
                </div>
                <!-- Icon Box -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Icon Box -->
                <div class="iconBox03 text-center">
                    <div class="ibBox"><i class="flaticon-like"></i></div>
                    <span>Step: 03</span>
                    <h3 class="ibTitle">Receive Your Visa</h3>
                    <p>Collaborate with team & partners. Get your work over the</p>
                </div>
                <!-- Icon Box -->
            </div>
        </div>
    </div>
</section>
<!-- END: Process Section End -->


{% endblock %}