{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<section class="countryPageSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="factWrapper">
          <div class="row">
            <!-- Funfact Item -->
            <div class="col-lg-3 col-sm-6 brRight text-center">
              <div class="funfact01">
                <h3 class="count-box counted"><span class="count-text" data-speed="3000" data-stop="420">Application Details</span></h3>
                <h5></h5>
                <div class="btnInfo">
                  <a class="immiPressBtn animated" href="contact.html"><span>Show</span></a>
              </div>
              </div>
            </div>
            <!-- Funfact Item -->
             <!-- Funfact Item -->
            <div class="col-lg-3 col-sm-6 brRight text-center">
              <div class="funfact01">
                <h3 class="count-box counted"><span class="count-text" data-speed="3000" data-stop="420">Dependent Details</span></h3>
                <h5></h5>
                <div class="btnInfo">
                  <a class="immiPressBtn animated" href="contact.html"><span>Show</span></a>
              </div>
              </div>
            </div>
            <!-- Funfact Item -->
             <!-- Funfact Item -->
            <div class="col-lg-3 col-sm-6 brRight text-center">
              <div class="funfact01">
                <h3 class="count-box counted"><span class="count-text" data-speed="3000" data-stop="420">Application Details</span></h3>
                <h5></h5>
                <div class="btnInfo">
                  <a class="immiPressBtn animated" href="contact.html"><span>Contact Us</span></a>
              </div>
              </div>
            </div>
            <!-- Funfact Item -->
             <!-- Funfact Item -->
            <div class="col-lg-3 col-sm-6 brRight text-center">
              <div class="funfact01">
                <h3 class="count-box counted"><span class="count-text" data-speed="3000" data-stop="420">Application Details</span></h3>
                <h5></h5>
                <div class="btnInfo">
                  <a class="immiPressBtn animated" href="contact.html"><span>Contact Us</span></a>
              </div>
              </div>
            </div>
            <!-- Funfact Item -->
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}