
{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 

  <!-- BEGIN: Hero Banner Start -->
  <section class="pageBanner" style="background-image: url(../../static/assets/images/bg/contact.png);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="bannerTitle">Services</h2>
                <div class="breadcrumbs"><a href="index.html">Home</a><span>/</span>services</div>
            </div>
        </div>
    </div>
</section>
<!-- END: Hero Banner End -->

<section class="serviceSection01 ssPb0" style="background-image: url(assets/images/bg/1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="subTitle">Visa Categories</h5>
                <h2 class="secTitle">Outstanding <span class="typewrite" data-period="2000" data-type="[ &quot;Immigration&quot;, &quot;Study&quot;, &quot;Family&quot;, &quot;Tourist&quot; ]"><span class="wrap">Tourist</span></span><br> Visa Services.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <!-- Service Item -->
                <div class="serviceItem01 text-end">
                    <div class="serThumb"><img src="{% static 'assets/images/home1/f1visa.png' %}" alt="ImmiPress"></div>
                    <div class="serContent text-center">
                        <div class="serIcon"><i class="flaticon-family"></i></div>
                        <h3><a href="#">F1 Visa Counseling</a></h3>
                        <p>Our expert counselors provide personalized guidance for students applying for F1 visas to study in the USA, UK, and Australia.</p>
                    </div>
                    <a class="immiPressBtn" href="#"><span>Explore More</span></a>
                </div>
                <!-- Service Item -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Service Item -->
                <div class="serviceItem01 text-end">
                    <div class="serThumb"><img src="{% static 'assets/images/home1/f1visa.png' %}" alt="ImmiPress"></div>
                    <div class="serContent text-center">
                        <div class="serIcon"><i class="flaticon-family"></i></div>
                        <h3><a href="#">F1 Visa Processing</a></h3>
                        <p>We manage the entire F1 visa application process, ensuring all requirements are met for a successful outcome.</p>
                    </div>
                    <a class="immiPressBtn" href="#"><span>Explore More</span></a>
                </div>
                <!-- Service Item -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Service Item -->
                <div class="serviceItem01 text-end">
                    <div class="serThumb"><img src="{% static 'assets/images/home1/interview.png' %}" alt="ImmiPress"></div>
                    <div class="serContent text-center">
                        <div class="serIcon"><i class="flaticon-family"></i></div>
                        <h3><a href="#">Interview Preparation</a></h3>
                        <p>Prepare confidently for your visa interview with our thorough preparation sessions and mock interviews.</p>
                    </div>
                    <a class="immiPressBtn" href="#"><span>Explore More</span></a>
                </div>
                <!-- Service Item -->
            </div>
            <div class="col-lg-4 col-sm-6 mt-5">
                <!-- Service Item -->
                <div class="serviceItem01 text-end">
                    <div class="serThumb"><img src="{% static 'assets/images/home1/ukvisa.png' %}" alt="ImmiPress"></div>
                    <div class="serContent text-center">
                        <div class="serIcon"><i class="flaticon-family"></i></div>
                        <h3><a href="#">UK Visitor Visa</a></h3>
                        <p>Get assistance with your UK visitor visa application, ensuring all documentation is correctly submitted.</p>
                    </div>
                    <a class="immiPressBtn" href="#"><span>Explore More</span></a>
                </div>
                <!-- Service Item -->
            </div>
            <div class="col-lg-4 col-sm-6 mt-5">
                <!-- Service Item -->
                <div class="serviceItem01 text-end">
                    <div class="serThumb"><img src="{% static 'assets/images/home1/canada.png' %}" alt="ImmiPress"></div>
                    <div class="serContent text-center">
                        <div class="serIcon"><i class="flaticon-family"></i></div>
                        <h3><a href="#">Canada Visitor Visa</a></h3>
                        <p>Our team helps you navigate the process of obtaining a Canada visitor visa with ease.</p>
                    </div>
                    <a class="immiPressBtn" href="#"><span>Explore More</span></a>
                </div>
                <!-- Service Item -->
            </div>
            <div class="col-lg-4 col-sm-6 mt-5">
                <!-- Service Item -->
                <div class="serviceItem01 text-end">
                    <div class="serThumb"><img src="{% static 'assets/images/home1/dsreview.png' %}" alt="ImmiPress"></div>
                    <div class="serContent text-center">
                        <div class="serIcon"><i class="flaticon-family"></i></div>
                        <h3><a href="#">DS-160 Review</a></h3>
                        <p>We meticulously review your DS-160 form to ensure accuracy and completeness, minimizing the risk of delays or denials.</p>
                    </div>
                    <a class="immiPressBtn" href="#"><span>Explore More</span></a>
                </div>
                <!-- Service Item -->
            </div>
            <div class="col-lg-4 col-sm-6 mt-5 mb-5">
                <!-- Service Item -->
                <div class="serviceItem01 text-end">
                    <div class="serThumb"><img src="{% static 'assets/images/home1/h1h2.png' %}" alt="ImmiPress"></div>
                    <div class="serContent text-center">
                        <div class="serIcon"><i class="flaticon-family"></i></div>
                        <h3><a href="#">B1/B2 Visa Application</a></h3>
                        <p>Whether for business or pleasure, we guide you through the B1/B2 visa application process for the USA.</p>
                    </div>
                    <a class="immiPressBtn" href="#"><span>Explore More</span></a>
                </div>
                <!-- Service Item -->
            </div>
        </div>
    </div>
</section>


{% endblock %}