{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<section class="countryPageSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="subTitle">Choose Country</h5>
                <h2 class="secTitle">Immigration and citizenship Choose<br> your country <span class="typewrite" data-period="2000" data-type="[ &quot;Australia&quot;, &quot;Germany&quot;, &quot;England&quot;, &quot;Canada&quot;, &quot;France&quot;, &quot;Dubai&quot;, &quot;Turkey&quot;, &quot;India&quot; ]"><span class="wrap">Franc</span></span><br></h2>
            </div>
        </div>
        <div class="row">
            {% for item in country%}
            <!-- Country Item -->
            <div class="col-lg-3 col-sm-6">
                <div class="countryItem02 ciItem02 text-center">
                    <div class="countryThumb">
                        <img src="{{item.image.url}}" alt="ImmiPress">
                        <div class="cnFlag"><img src="{{item.country_logo.url}}" alt="ImmiPress"></div>
                    </div>
                    <div class="countryContent">
                        <h3><a href="/countery_services/{{item.countery_name}}/">{{item.countery_name}}</a></h3>
                        <p>{{item.Description}}</p>
                    </div>
                    <a class="immiPressBtn" href="/countery_services/{{item.countery_name}}/"><span>View More</span></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a class="immiPressBtn" href="coaching.html"><span>All Country</span></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}